/* ======= Fun Fact Section/Seção de curiosidades ======= */
.fun-fact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  background: #f5f5f5;
  gap: 3.5rem;
}
.fun-fact .box {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.fun-fact .box img {
  height: 10rem;
}
.fun-fact .box h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #334;
}
.fun-fact .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding-top: 0.5rem;
}
